[Unit]
Description=Pano startup
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/pano/startup/run_pano.sh

[Install]
WantedBy=multi-user.target

